<article class="category {{#if feature_image}}with-image" style="background-image: url({{img_url feature_image size="xl"}}){{else}}no-image{{/if}}">
    <div class="category-link">
        <div class="category-content">
            <h2 class="category-title">{{name}}</h2>
        </div>
    </div>
</article>
