h1 {
  font-size: 2rem;
}

h2, h3, h4, h5, h6 {
  font-size: 1.9rem;
}

.kg-card {
  margin: 0;
}

.post-content {
  padding: 4rem 0;
}

.site-head-logo {
  color: #131313;
  font-weight: 600;
  font-size: 1.35rem !important;
  opacity: .4;
}

.button {
  margin-bottom: 2rem;
}

.hide {
  display: none;
}
